body {
    background-color: black;
    margin: 0px;
}


#headertext {
    z-index: 5;
    margin-left: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    height: 140px;
    background-image: url(1x/navnav_back.png);
    background-repeat: repeat;
    background-size: contain;
}

#text {
    height: 100px;
    margin: 20px;
}

#personallogo {
    margin: 10px;
}

nav {
    width: 100%;
    z-index: 10;
    font-family: barlow;
    font-weight: bold;
    font-size: 15px;
    color: rgb(191, 0, 20);
    background-color: white;
    overflow: hidden;
}

#nav-flex {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-right: 45px;
    font-size: 20;
}

a:link {
    color: rgb(191, 0, 20);
    text-decoration: none;
}

a:visited {
    color: rgb(191, 0, 20);
    text-decoration: none;
}

a:hover {
    color: rgb(237, 27, 52);
}

#home {
    font-family : Barlow;
  font-weight : bold;
  font-style : italic;
  font-size : 50px;
  letter-spacing : 6.25px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  float: right;
    margin-right: 20px;
    width: 40%;
}

#images {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#phineas1 {
    margin-bottom: 20px;
    background-image: url(1x/photo_background.png);
    background-size: 150%;
}

#phineas2 {
    margin-bottom: 20px;
}

#homeinfo {
    color: #FFFFFF;
    width: 50%;
    position: absolute;
    margin-left: 50%;
}

#subheader {
   font-family : Barlow;
  font-weight : bold;
  font-style : italic;
  font-size : 25px;
  letter-spacing : 17.5px;
  color : #BF0014;
  color : rgb(191, 0, 20);
  display: flex;
  }
