body {
    background-color: black;
    margin: 0px;
}

#headertext {
    z-index: 5;
    margin-left: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    height: 140px;
    background-image: url(1x/navy_back.png);
    background-repeat: repeat;
    background-size: cover;
}

#text {
    height: 100px;
    margin: 20px;
}

#personallogo {
    margin: 10px;
}

nav {
    width: 100%;
    z-index: 10;
    font-family: barlow;
    font-weight: bold;
    font-size: 15px;
    color: rgb(191, 0, 20);
    background-color: white;
    overflow: hidden;
}

#nav-flex {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-right: 45px;
    font-size: 20;
}

a:link {
    color: rgb(191, 0, 20);
    text-decoration: none;
}

a:visited {
    color: rgb(191, 0, 20);
    text-decoration: none;
}

a:hover {
    color: rgb(237, 27, 52);
}

#home {
    font-family : Barlow;
  font-weight : lighter;
  font-style : bold;
  font-size : 50px;
  letter-spacing : 6.25px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  float: right;
    width: 40%;
    position: relative;
}

p {
    font-family: barlow;
}

#home:hover {
    font-weight: bolder;
}

#images {
    margin: 8%;
    display: flex;
    flex-direction: column;
    margin-top: 95px;
}

#phineas1 {
    margin-bottom: 50px;
    background-image: url(1x/photo_background.png);
    border-image: url(1x/photo_background.png);
    border: 18px solid transparent;
    transition-duration: 200ms;
}

#phineas1:hover {
    transform: scale(1.1,1.1);
    transition-delay: 90ms;
}

#phineas2 {
    margin-bottom: 50px;
     background-image: url(1x/photo_background.png);
    border-image: url(1x/photo_background.png);
    border: 18px solid transparent;
    transition-duration: 200ms;
}

#phineas2:hover {
    transform: scale(1.1,1.1);
    transition-delay: 90ms;
}

#phineas3 {
     background-image: url(1x/photo_background.png);
    border-image: url(1x/photo_background.png);
    border: 18px solid transparent;
    transition-duration: 300ms;
}

#phineas3:hover {
    transform: scale(1.1,1.1);
    transition-delay: 90ms;
}

#homeinfo {
    color: #FFFFFF;
    width: 47%;
    position: absolute;
    margin-left: 50%;
    position: absolute;
    top: 400px;
}

p {
    text-indent: 25px;
    text-align: justify;
}

#subheader {
   font-family : Barlow;
  font-weight : bold;
  font-style : italic;
  font-size : 25px;
  letter-spacing : 17.5px;
  color : #BF0014;
  color : rgb(191, 0, 20);
  }
